.seperator {
    background-image: url('/wood-texture-background.png');
    width: 100%;
    height: 100%;
  background-size: cover;      /* scales image to fill container, may crop */
  background-position: center; /* center image */
  background-repeat: no-repeat;
}