.home-page-grid {
    display: grid;
    grid-template-columns: 2fr 16px 3fr 16px 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

.factories-display-container {
    display: flex;
    height: 100vh;
}

.cookie-container {
    display: flex;
    height: 100vh;
}

.factories-container {
    display: flex;
    height: 100vh;
}